<h3><i class="icon_sp icon-instrument"></i> <span style="vertical-align: middle"><%= name %></span></h3>

<hr/>

<h4>Information</h4>

<div class="row">
  <div class="col-md-12">
    Description: <%= description %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    Location: <%= location.latitude %>, <%= location.longitude %>
  </div>
</div>

<hr/>

<h4>Datasets</h4>

<hr/>

<h4>Actions</h4>