<div class="row">
  <div class="col-md-12">
    First sample: <%= info.ts_first_str  %> (UTC)
  </div>
  <div class="col-md-12">
    Last sample: <%= info.ts_last_str %> (UTC)
  </div>
  <div class="col-md-12">
    Number of samples: <%= info.ds_samples %><br>&nbsp;
  </div>
</div>
