<div class="map_wrap">
    <div class="map-menu">
        <div class="row">
            <div id="map-search"></div>
            <div id="drawTools"></div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div id="map-container"></div>
            <div id="snapshot-container" style="display: none;"></div>
        </div>
    </div>
</div>
