<div class="map_wrap">
    <div class="map-menu">
        <div class="row">
            <div id="map-search"></div>
            <div id="drawTools"></div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div id="map-container"></div>
            <div id="snapshot-container" style="display: none;"></div>
        </div>
    </div>
</div>
<div class="info_tabs">
    <span class="close-list">X</span>

    <div class="list_tab_header">
        <span data-tab="details" id="map-info-details-tab" class="list_tab_item active">Details</span>
    </div>

    <div id="map-info-details-content" class="tab_item active"></div>
</div>
