<p>
    <% _.each(instGroups, function(instGrpList, grpName) {  %>
    <a role="menuitem" tabindex="-1" href="javascript:void(0);"><%= grpName || "Default" %></a>
    <ul>
    <% _.each(_.sortBy(instGrpList, function (o) { return o["name"]; }), function(inst) {
    %>
        <li role="presentation" class="list-el">
            <a class="inst-list-el" data-inst-id="<%= inst._id %>" role="menuitem" tabindex="-1" href="javascript:void(0);"><%= inst.name %></a>
        </li>
    <% }); %>
    </ul>
    <% }); %>
    <br>
</p>