<div class="modal-dialog information_popup_root">
    <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">x</span></button>
        </div>
        <div class="modal-body information_popup">
            <div id="info_popup_success_icon" class="info-popup-success-icon"></div>
            <div id="info_popup_error_icon" class="info-popup-error-icon"></div>
            <div id="info-popup-warning-icon" class="info-popup-warning-icon"></div>
            <br/>
            <h3 id="info_popup_message" class="info-popup-message"></h3>
        </div>
        <div class="modal-footer"></div>
    </div>
</div>
