.icon_sp {
  display: inline-block;
  width: 48px;
  height: 48px;
  background-image: $icon_sprite;
  background-repeat: no-repeat;

  &.icon-instrument {
    background-position: -480px -480px;
    vertical-align: middle;
  }
}